header{
    background-color: blueviolet;
}

header .logo{
    font-weight: bold;
}

.logo nav{
    justify-self: right;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    float: left;
}

nav a{
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
}

nav a:hover{
    background-color:rgb(117, 34, 185);
}